body{
    background-color: gray;
    font-family: sans-serif;
    margin: 0px;
}

.hero{
    background-image: url(../imagens/Backsandman.jpeg);
    height: 600px;
    border-top: 1px solid transparent;
}

.hero-content{
    text-align: center;
    color: white;
    margin-top: 200px;

}

.hero-content h1{
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px pink;
}
.hero nav ul{
    text-align:right;
    padding: 20px 50px 0 0 ;
}

.hero nav li{
    display: inline-block;
    list-style: none;
    
    border: 1px solid #fff;
    text-align: right;
}

.hero nav a{
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.hero nav a:hover{
    background: rgba(0, 0, 0, 0.8);
}



main{
    width: 80%;
    margin: auto;
}

.content-Section{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
}

.content-Section h1{
    background-color: #ccc;
    padding: 10px 0px;
    text-align: left;
    border-bottom: 2px solid  rgb(170, 170, 170);
    margin-top: 0px;
}

.card{
    display: inline-block;
    margin: 25px 60px;
}

body .rodape{
    height: 80px;
    color: white;
    font-size: 14px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}body{
    background-color: gray;
    font-family: sans-serif;
    margin: 0px;
}

.hero{
    background-image: url(../imagens/Backsandman.jpeg);
    height: 600px;
    border-top: 1px solid transparent;
}

.hero-content{
    text-align: center;
    color: white;
    margin-top: 200px;

}

.hero-content h1{
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px pink;
}
.hero-content p{
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}
.hero nav ul{
    text-align:right;
    padding: 20px 50px 0 0 ;
}

.hero nav li{
    display: inline-block;
    list-style: none;
    
    border: 1px solid #fff;
    text-align: right;
}

.hero nav a{
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.hero nav a:hover{
    background: rgba(0, 0, 0, 0.8);
}



main{
    width: 80%;
    margin: auto;
}

.content-Section{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    overflow: auto;
}

.content-Section h1{
    background-color: #ccc;
    padding: 10px 0px;
    text-align: left;
    border-bottom: 2px solid  rgb(170, 170, 170);
    margin-top: 0px;
    clear: both;

}

.card{
    float:left;
    margin: 25px 60px;
    border: 2px solid blue;
    box-sizing: border-box;
    margin-left: 1%;
}
.card img{
    width: 100%;
}

body .rodape{
    height: 80px;
    color: white;
    font-size: 14px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}